<!-- LIST PAGE -->
<div class="container" id="list-container">
    <div class="row">
        <div class="col-md-9">
            <div class="component" ng-show="formInstance">
                <div class="title">
                    <div class="pull-right">
                        <a ng-click="returnToList()" class="action">&larr; {{'GENERAL.ACTION.RETURN-TO-LIST' | translate}}</a>
                    </div>
                    <h2>{{formInstance.name &amp;&amp; formInstance.name +" - " || ""}}{{formInstance.id}}</h2>
                </div>

                <div class="property-wrapper">
                    <table>
                        <tr class="property">
                            <td class="property-name" translate="FORM-INSTANCE.HEADER.ID"></td>
                            <td>{{formInstance.id}}</td>
                            <td class="property-name" translate="FORM-INSTANCE.HEADER.TASK-ID"></td>
                            <td ng-if="submittedForm.taskId"><a ng-href="#/task/{{formInstance.taskId}}"><i class="glyphicon glyphicon-zoom-in"></i> {{formInstance.taskId}}</a></td>
                            <td ng-if="!submittedForm.taskId">{{formInstance.taskId | empty}}</td>
                        </tr>
                        <tr class="property">
                        	<td class="property-name" translate="FORM-INSTANCE.HEADER.PROCESS-ID"></td>
                            <td ng-if="submittedForm.processId"><a ng-href="#/process-instance/{{formInstance.processInstanceId}}"><i class="glyphicon glyphicon-zoom-in"></i> {{formInstance.processId}}</a></td>
                            <td ng-if="!submittedForm.processId">{{formInstance.processInstanceId | empty}}</td>
                            <td class="property-name" translate="FORM-INSTANCE.HEADER.SUBMITTED"></td>
                            <td>{{formInstance.submittedDate | date}}</td>
                        </tr>
                        <tr class="property">
                            <td class="property-name" translate="FORM-INSTANCE.HEADER.SUBMITTED-BY"></td>
                            <td user="formInstance.submittedBy"></td>
                            <td class="property-name" translate="FORM-INSTANCE.HEADER.FORM-DEFINITION-ID"></td>
                            <td><a ng-href="#/form-definition/{{formInstance.formDefinitionId}}"><i class="glyphicon glyphicon-zoom-in"></i> {{formInstance.formDefinitionId}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="component tip-left">
                <div class="title">
                    <h2 translate="GENERAL.TITLE.ACTIONS"></h2>
                </div>
                <ul class="list-group">
                    <li>
                        <button type="button" class="btn btn-sm btn-default" ng-click="showFormInstance()">
                            <i class="glyphicon glyphicon-zoom-in"></i>{{'FORM-INSTANCE.ACTION.SHOW-FORM-INSTANCE' | translate}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>