target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
.vscode
*.bpmn/
migration.html
/modules/**/bin
modules/flowable-app-rest/.extract
modules/flowable-app-rest/src/main/resources/static/docs/specfile
docker/all-in-one/assets
k8s/flowable/charts
requirements.lock
docs/docusaurus/website/build/
k8s/index.yaml
/k8s/*.tgz
