target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
*.bpmn/
/userguide/src/en/index.html
migration.html
/modules/**/bin
modules/flowable-ui-task/flowable-ui-task-app/data
modules/flowable-webapp-rest2/src/main/webapp/docs
modules/flowable-app-rest/.extract
modules/flowable-ui-idm/flowable-ui-idm-app/.extract
