language: java

dist: trusty
sudo: required

jdk:
  - oraclejdk8
  # remove the jdk7 version because of class version issues with 'org/mindrot/jbcrypt/BCrypt' in PasswordEncoderTest.testjBCrytpEncoderInstance test
  #- oraclejdk7

cache:
  directories:
  - $HOME/.m2

notifications:
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

script:
  mvn test -PerrorLogging

after_failure:
  - cat /home/travis/build/flowable/flowable-engine/modules/*/target/surefire-reports/*.txt
