
<div id={{app.id}} class="app-wrapper" ng-repeat="app in model.apps">
    <div class="app {{app.theme}}">
        <a href="{{app.fixedUrl}}">
            <div class="app-content">
                <h3>{{app.titleKey && (app.titleKey | translate) || app.name}}</h3>

                <p>{{app.descriptionKey && (app.descriptionKey | translate) || app.description}}</p>
            </div>
            <div class="backdrop">
                <i class="{{app.icon}}"></i>
            </div>
            <div class="logo">
                <i class="{{app.icon}}"></i>
            </div>
        </a>
    </div>
</div>
