<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <!--
     Remove classpath scanning (from servlet 3.0) in order to speed jetty startup :
     metadata-complete="true" above + empty absolute ordering below
     -->
    <absolute-ordering>
      <!--
        Empty absolute ordering is necessary to completely deactivate classpath scanning
      -->
    </absolute-ordering>

    <display-name>Flowable REST</display-name>

    <!-- All the Servlets and Filters are configured by this ServletContextListener : -->
    <listener>
        <listener-class>org.flowable.rest.servlet.WebConfigurer</listener-class>
    </listener>
    
     <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    
  <filter>
  	<filter-name>XSessionTokenSecuirtyFilter</filter-name>
  	<filter-class>org.flowable.rest.conf.XSessionTokenSecuirtyFilter</filter-class>
  	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>XSessionTokenSecuirtyFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>
