target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
.vscode
*.bpmn/
src/en/base/output
src/en/bpmn/output
src/en/cmmn/output
src/en/dmn/output
src/en/form/output
src/en/single/output


src/zh_CN/base/output
src/zh_CN/bpmn/output
src/zh_CN/cmmn/output
src/zh_CN/dmn/output
src/zh_CN/form/output
src/zh_CN/single/output