name: Release Docker Images With Latest

on: workflow_dispatch

jobs:
  release_docker_images_with_latest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Get current project meta
        id: meta
        run: echo "::set-output name=version::$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)"

      - name: Build Docker images with Maven
        run: |
          ./mvnw clean package -B -Dstyle.color=always \
          -P distro,dockerPublishWithLatest \
          -pl :flowable-app-rest \
          -Ddocker.publisher.user=${{ secrets.DOCKER_USER }} \
          -Ddocker.publisher.password=${{ secrets.DOCKER_PASSWORD }} \
          -B -V --no-transfer-progress

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.7.0

      - name: Write signing key to disk
        run: echo "${{ secrets.SIGNING_SECRET }}" > cosign.key

      - name: Log into dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Sign the published Docker images
        env:
          COSIGN_PASSWORD: ""
        run: |
          cosign sign --key cosign.key \
            -a "repo=${{ github.repository }}" \
            -a "ref=${{ github.sha }}" \
            flowable/flowable-rest:${{ steps.meta.outputs.version }} \
            -y
          cosign sign --key cosign.key \
            -a "repo=${{ github.repository }}" \
            -a "ref=${{ github.sha }}" \
            flowable/flowable-rest:latest \
            -y
