name: Flowable Base Image Multi-Arch Build and Push

# on:
#   schedule:
#     - cron: "0 1 * * *"
#   workflow_dispatch:

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log into dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./docker/base-image
          platforms: linux/amd64,linux/arm64
          push: true
          tags: flowable/flowable-jre-test:21

      - name: Scan image
        uses: anchore/scan-action@v6
        with:
          image: flowable/flowable-jre-test:21
          output-format: 'table'
          severity-cutoff: 'high'

