name: Release Docker Images

on: workflow_dispatch

jobs:
  release_docker_images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build Docker images with Maven
        run: mvn clean package -B -Dstyle.color=always -P dockerDeps,dockerPublishWithLatest -pl :flowable-ui-app,:flowable-app-rest -Ddocker.publisher.user=${{ secrets.DOCKER_USER }} -Ddocker.publisher.password=${{ secrets.DOCKER_PASSWORD }}