name: Flowable Java EA Build

on:
  push:
    branches:
      - master
      - 'flowable-release-*'

env:
  MAVEN_ARGS: >-
    -B -V --no-transfer-progress
    -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

jobs:
  test_jdkea:
    name: Linux (OpenJDK EA)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2-beta
        with:
          fetch-depth: 10
      - name: Cache Maven Repository
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Install
        # If installing the JDK is in a different step then wrong java would be used
        # Need to do install first in order for the OSGi tests to work
        run: |
          . ./.github/actions/scripts/install-jdk.sh --feature ea --os linux-x64
          ./mvnw install ${MAVEN_ARGS} -DskipTests=true -Dmaven.javadoc.skip=true -B -V
      - name: Test
        # If installing the JDK is in a different step then wrong java would be used
        run: |
          . ./.github/actions/scripts/install-jdk.sh --feature ea --os linux-x64
          ./mvnw verify -Pdistro,errorLogging,includeDockerTests ${MAVEN_ARGS} -Dmaven.test.redirectTestOutputToFile=false
        continue-on-error: true
