name: Flowable Main Build

on: [push, pull_request]

jobs:
  test_jdk:
    name: Linux (JDK ${{ matrix.java }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [1.8, 11, 13]
    steps:
    - uses: actions/checkout@v2-beta
      with:
        fetch-depth: 10
    - uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Install
      # Need to do install first in order for the OSGi tests to work
      run: ./mvnw install -V -B --no-transfer-progress -DskipTests=true -Dmaven.javadoc.skip=true -B -V
    - name: Test
      run: ./mvnw verify -Pdistro,errorLogging -B --no-transfer-progress -V -Dmaven.test.redirectTestOutputToFile=false
