name: Flowable Main Build

on: [push, pull_request]

env:
  MAVEN_ARGS: >-
    -B -V --no-transfer-progress
    -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

jobs:
  test_jdk:
    name: Linux (JDK ${{ matrix.java }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [17, 21, 25]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java }}
    - name: Cache Maven Repository
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Install
      # Need to do install first in order for the OSGi tests to work
      run: ./mvnw install ${MAVEN_ARGS} -DskipTests=true -Dmaven.javadoc.skip=true
    - name: Test
      run: ./mvnw verify -Pdistro,errorLogging,include-spring-boot-samples ${MAVEN_ARGS} -Dmaven.test.redirectTestOutputToFile=true
    - name: Publish Test Results
      if: always()   # important: runs even if tests fail
      uses: EnricoMi/publish-unit-test-result-action@v2.22.0
      with:
        files: |
          **/target/surefire-reports/*.xml
    - name: Upload Surefire reports
      uses: actions/upload-artifact@v6.0.0
      if: success() || failure() # always run even if the previous step fails
      with:
        name: surefire-${{matrix.java}}-txt
        path: '**/target/surefire-reports/*-output.txt'
