name: Flowable Oracle Build

on:
  push:
    branches:
      - master
      - 'flowable-release-*'
env:
  MAVEN_ARGS: >-
    -Dmaven.javadoc.skip=true
    -B -V --no-transfer-progress
    -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

jobs:
  test_oracle:
    name: Oracle ${{ matrix.oracle }}
    runs-on: ubuntu-latest
    if: github.repository == 'flowable/flowable-engine'
    strategy:
      fail-fast: false
      matrix:
        oracle: ["11.2.0.2-xe"]
        include:
          - oracle: 11.2.0.2-xe
            driverVersion: 11.2.0.4
            driverArtifact: ojdbc6
    services:
      oracle:
        image: ${{ secrets.flowable_docker_repository }}/infra/oracle:${{ matrix.oracle }}
        credentials:
          username: ${{ secrets.flowable_docker_user }}
          password: ${{ secrets.flowable_docker_user_password }}
        env:
          ORACLE_USER: flowable
          ORACLE_USER_PASSWORD: flowable
        ports:
          - 1521/tcp
        options: >-
          --shm-size=2g
          --health-interval 30s
          --health-timeout 40s
          --health-retries 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Test
        # use oracle for the host here because we have specified a container for the job.
        # If we were running the job on the VM this would be localhost
        # '>-' is a special YAML syntax and means that new lines would be replaced with spaces
        # and new lines from the end would be removed
        run: >-
          ./mvnw clean install
          ${MAVEN_ARGS}
          -PcleanDb,oracle
          -Djdbc.url=jdbc:oracle:thin:@localhost:${{ job.services.oracle.ports[1521] }}:XE
          -Djdbc.username=flowable
          -Djdbc.password=flowable
          -Djdbc.driver=oracle.jdbc.driver.OracleDriver
          -Doracle.jdbc.version=${{ matrix.driverVersion }}
          -Doracle.jdbc.artifact=${{ matrix.driverArtifact }}
          -Dmaven.test.redirectTestOutputToFile=false
  test_oracle_dmn:
    name: Oracle ${{ matrix.oracle }} DMN
    runs-on: ubuntu-latest
    if: github.repository == 'flowable/flowable-engine'
    strategy:
      fail-fast: false
      matrix:
        oracle: [ "11.2.0.2-xe" ]
        include:
          - oracle: 11.2.0.2-xe
            driverVersion: 11.2.0.4
            driverArtifact: ojdbc6
    services:
      oracle:
        image: ${{ secrets.flowable_docker_repository }}/infra/oracle:${{ matrix.oracle }}
        credentials:
          username: ${{ secrets.flowable_docker_user }}
          password: ${{ secrets.flowable_docker_user_password }}
        env:
          ORACLE_USER: flowable
          ORACLE_USER_PASSWORD: flowable
        ports:
          - 1521/tcp
        options: >-
          --shm-size=2g
          --health-interval 30s
          --health-timeout 40s
          --health-retries 10
    steps:
      - uses: actions/checkout@v2-beta
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Test
        # use oracle for the host here because we have specified a container for the job.
        # If we were running the job on the VM this would be localhost
        # '>-' is a special YAML syntax and means that new lines would be replaced with spaces
        # and new lines from the end would be removed
        run: >-
          ./mvnw clean install
          ${MAVEN_ARGS}
          -Pdmn,oracle
          -Djdbc.url=jdbc:oracle:thin:@localhost:${{ job.services.oracle.ports[1521] }}:XE
          -Djdbc.username=flowable
          -Djdbc.password=flowable
          -Djdbc.driver=oracle.jdbc.driver.OracleDriver
          -Doracle.jdbc.version=${{ matrix.driverVersion }}
          -Doracle.jdbc.artifact=${{ matrix.driverArtifact }}
          -Dmaven.test.redirectTestOutputToFile=false
          -pl org.flowable:flowable-dmn-engine -am
  test_oracle_content:
    name: Oracle ${{ matrix.oracle }} Content
    runs-on: ubuntu-latest
    if: github.repository == 'flowable/flowable-engine'
    strategy:
      fail-fast: false
      matrix:
        oracle: [ "11.2.0.2-xe" ]
        include:
          - oracle: 11.2.0.2-xe
            driverVersion: 11.2.0.4
            driverArtifact: ojdbc6
    services:
      oracle:
        image: ${{ secrets.flowable_docker_repository }}/infra/oracle:${{ matrix.oracle }}
        credentials:
          username: ${{ secrets.flowable_docker_user }}
          password: ${{ secrets.flowable_docker_user_password }}
        env:
          ORACLE_USER: flowable
          ORACLE_USER_PASSWORD: flowable
        ports:
          - 1521/tcp
        options: >-
          --shm-size=2g
          --health-interval 30s
          --health-timeout 40s
          --health-retries 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Test
        # use oracle for the host here because we have specified a container for the job.
        # If we were running the job on the VM this would be localhost
        # '>-' is a special YAML syntax and means that new lines would be replaced with spaces
        # and new lines from the end would be removed
        run: >-
          ./mvnw clean install
          ${MAVEN_ARGS}
          -Pcontent,oracle
          -Djdbc.url=jdbc:oracle:thin:@localhost:${{ job.services.oracle.ports[1521] }}:XE
          -Djdbc.username=flowable
          -Djdbc.password=flowable
          -Djdbc.driver=oracle.jdbc.driver.OracleDriver
          -Doracle.jdbc.version=${{ matrix.driverVersion }}
          -Doracle.jdbc.artifact=${{ matrix.driverArtifact }}
          -Dmaven.test.redirectTestOutputToFile=false
          -pl org.flowable:flowable-content-engine -am
